.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  position: relative;
}

.maxWidthWrapper {
}

.header {
  width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.controlColumn {
  width: 50%;
}

.characterWrapper {
  position: fixed;
  top: 140px;
  left: 65%;
}

@media (max-width: 1024px) {
  .characterEditor {
    padding-top: 64px;
  }

  .header {
    width: 100%;
  }

  .controlColumn {
    position: absolute;
    bottom: 200px;
    left: 0;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    padding: 0 20px;
  }

  .characterWrapper {
    position: static;
  }

}
